## Desafío - Control de Flujo

### Desafio1 
Generar un par de arrays con numpy y función linspace

In [126]:
import pandas as pd
import numpy as np

In [127]:
array1 = np.linspace(1,50, 50, dtype = "int")
array2 = np.linspace(50,150, 100, dtype = "int")

### Desafio 2

In [128]:
for i in array1:
    if i%2 == 0:
        print(i,"es Par")
    else:
        print(i, "es Impar")

1 es Impar
2 es Par
3 es Impar
4 es Par
5 es Impar
6 es Par
7 es Impar
8 es Par
9 es Impar
10 es Par
11 es Impar
12 es Par
13 es Impar
14 es Par
15 es Impar
16 es Par
17 es Impar
18 es Par
19 es Impar
20 es Par
21 es Impar
22 es Par
23 es Impar
24 es Par
25 es Impar
26 es Par
27 es Impar
28 es Par
29 es Impar
30 es Par
31 es Impar
32 es Par
33 es Impar
34 es Par
35 es Impar
36 es Par
37 es Impar
38 es Par
39 es Impar
40 es Par
41 es Impar
42 es Par
43 es Impar
44 es Par
45 es Impar
46 es Par
47 es Impar
48 es Par
49 es Impar
50 es Par

### Desafio 3

In [129]:
condicion1 = 0
condicion2 = 0
condicion3 = 0
condicion4 = 0

for i in array2:
    if i%2 == 0 or i%3==0:
        condicion1 += 1
        print(i)
    
    if (i%2 == 0) & (i%3==0):
        condicion2 += 1
        
    if (i%2 != 0) & (i%3 ==0):
        condicion3 += 1
        
    if (i%2 != 0) & (i%3 != 0):
        condicion4 += 1
        
print(condicion1, 'son divisible por 2 o 3')
print(condicion2, 'son divisible por 2 y 3')
print(condicion3, 'son divisible por 3, pero no por 2')
print(condicion4, 'no son divisible por 2 y 3')

50
51
52
54
56
57
58
60
62
63
64
66
68
69
70
72
74
75
76
78
80
81
82
84
86
87
88
90
92
93
94
96
98
99
100
102
104
105
106
108
110
111
112
114
116
117
118
120
122
123
124
126
128
129
130
132
134
135
136
138
140
141
142
144
146
147
148
150
68 son divisible por 2 o 3
17 son divisible por 2 y 3
17 son divisible por 3, pero no por 2
32 no son divisible por 2 y 3

### Desafío 4

In [130]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### Desafío 5

In [131]:
df = pd.read_csv('flights.csv')

In [132]:
media = df['passengers'].mean()

In [133]:
df['underperforming'] = 0

In [134]:
for fila, serie in df.iterrows():
    if serie['passengers'] < media:
        df.at[fila, 'underperforming'] = 1

In [135]:
df['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

### Desafío 6

In [136]:
media = np.mean(df['passengers'])
std = np.std(df['passengers'])

In [137]:
df['outlier']= 0

In [138]:
for fila, serie in df.iterrows():
    if serie['passengers'] < (media-std) or serie['passengers'] > (media+std) :
        df.at[fila, 'outlier'] = 1

In [139]:
df['outlier'].value_counts()

0    91
1    53
Name: outlier, dtype: int64